* text=auto
*.go text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.yaml text eol=lf
apps/test-service/internal/testframework/cpputest/testdata/list-crlf.valid.txt text eol=crlf
